body{
    background-image: url(https://imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/bg4.jpg);
    background-repeat: no-repeat;
    background-size:150%;
}

.makemytrip{
   margin-top: -40px;
   margin-left: 10px;
}


.login1{
    display: flex;
    border: 1px solid none;
    background: linear-gradient(to right, rgb(44, 165, 217), rgb(15, 104, 220));
    align-items: center;
    padding: 5px 30px 5px 5px;
    color: white;
    border-radius: 5px;
}
.arrow1{
    position: relative;
    top: 1.5px;
    right: -22px;
}

.arrow2{
    position: relative;
    top: 1.5px;
    right: -5px;

}

.india1{
    display: flex;
    border: 1px solid none;
    background-color: gray;
    align-items: center;
    padding: 5px 10px 5px 10px;
    color: white;
    border-radius: 5px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.container1{
    display: flex;
    margin-top: -40px;
}
.a1,.a2,.a3,.login,.india{
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
}
.a2{
    border-left:1px dotted grey;
    border-right: 1px dotted grey;
}

.item1{
    border: 1px solid white;
    background-color: white;
    padding: 10px 25px 10px 25px;
    position: absolute;
    top: 90px;
    left: 175px;
    width: 900px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(176, 171, 171, 0.2), 0 6px 20px 0 rgba(227, 225, 225, 0.19);
}
.homestay,.holiday,.tour,.card,.insurance{
    text-align: center;
}

.new1{
    border: 1px solid none;
    background: linear-gradient(to right,rgb(177, 83, 98), rgb(214, 94, 136));
    color: white;
    position: absolute;
    padding: 0px 5px 0px 5px;
    border-radius: 3px;
    left: 723px;
    top: 80px;
}
.new2{
    border: 1px solid none;
    background: linear-gradient(to right,rgb(177, 83, 98), rgb(214, 94, 136));
    color: white;
    position: absolute;
    padding: 0px 5px 0px 5px;
    border-radius: 3px;
    left: 796px;
    top: 80px
}
.new3{
    border: 1px solid none;
    background: linear-gradient(to right,rgb(177, 83, 98), rgb(214, 94, 136));
    color: white;
    position: absolute;
    padding: 0px 5px 0px 5px;
    border-radius: 3px;
    left: 857px;
    top: 80px
}

.item2{
    border: 1px solid none;
    background-color: white;
    padding-top: 50px;
    position: absolute;
    width: 1020px;
    height: 300px;
    top: 140px;
    left: 140px;
    z-index: -1;
    border-radius: 10px;
}


.r1,.r2,.r,.w,.r3{
    display: flex;
    align-items: center;
}

.r1{
    padding-left: 12px;
    padding-top: 5px;
    position: relative;
    left: 10px;
}
.r2{
    padding-top: 5px;
    position: relative;
    left: 30px;
}
.r3{
    padding-top: 5px;
    position: relative;
    left:60px;
}
.q{
    position: absolute;
    top: 56px;
    left: 775px;
    font-family: sans-serif;
    font-size: small;
    font-weight:lighter;
    color: rgb(50, 49, 49);
}






.search{
    border: 1px solid none;
    background: linear-gradient(to right, rgb(44, 165, 217), rgb(15, 104, 220));
    position: absolute;
    width: 180px;
    height: 35px;
    top: 474px;
    left: 555px;
    border-radius: 30px;
    align-content: center;
    text-align: center;
    color: white;
    cursor: pointer;
    
    
}

.terminal{
    display: grid;
    grid-template-columns: 250px 250px auto auto auto;
    border: 1px solid rgb(201, 201, 201);
    margin: 10px 20px 10px 20px;
    border-radius: 5px;
    border-left: none;
    cursor: pointer;

    
}
.terminal>div{
    display:grid ;
    border-left: 1px solid rgb(201, 201, 201);
    padding: 10px;
    
}
.depa,.retu,.trav{
    display: flex;
    align-items: baseline;
}

.deppp,.rettt,.travvv{
    display: flex;
}

.select{
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
    position: relative;
    top: 10px;
    left: 18px;
}
.extra{
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
    border: 1px solid none;
    position: absolute;
    background: linear-gradient(to right, rgb(67, 225, 168), rgb(33, 147, 147));
    border-radius: 4px;
    top: 215px;
    left: 22px;
    padding: 4px;
    color: white;
}
.qwer{
    display: flex;
    gap: 10px;
    position: relative;
    left: 155px;
}
.regular,.student,.senior,.armed,.doctor{
    border: 1px solid rgb(201, 201, 201);
    padding: 5px;
    border-radius: 5px;
    padding-left: 1px;
    cursor: pointer;
}


.reg,.stu,.sen,.arm,.doc{
    display: flex;
}
.qwer{
    font-family: sans-serif;
}
.z1,.z2,.z3,.z4,.z5{
    font-size: small;
    font-weight:bold;
}
.x1,.x2,.x3,.x4,.x5{
    font-size: x-small;
    font-weight: lighter;
    color: rgb(145, 145, 145);
}
.verticalLine{
    border: 1px solid rgb(201, 201, 201);
    margin-left: 25px;
    border-right: none;

}
.flightTracker{
    border: 1px solid rgb(201, 201, 201);
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    
}
.tracker1{
    display: flex;
    
}
.new4{
    border: 1px solid none;
    background: linear-gradient(to right,rgb(177, 83, 98), rgb(214, 94, 136));
    color: white;
    position: relative;
    font-size: x-small;
    border-radius: 2px;
    padding: 1px;
    top: 5px;
    left: 4px;
    text-align: center;
}

.check{
    display: flex;
    border: 1px solid rgb(189, 226, 242);
    padding: 10px;
    margin: 20px;
    margin-top: 20px;
    border-radius: 5px;
    align-items: center;
    background: linear-gradient(120deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 75%, rgb(245, 250, 255) 75%, rgb(245, 250, 255) 80%, rgb(234, 245, 255) 80%, rgb(234, 245, 255) 85%, rgb(218, 239, 252) 85%, rgb(218, 239, 252) 100%);
}
.atm{
    position:relative;
    top: -56px;
    left: 950px;
}

.terminal>div:hover{
    background-color: rgb(221, 236, 246);
    transition: 0.4s;

}
.flight,.hotel,.homestay,.holiday,.train,.bus,.cab,.tour,.visa,.cruise,.card{
    cursor: pointer;
}

